<nav class="navbar navbar-expand-md navbar-light bg-light border-bottom shadow-sm sticky-top">
  <div class="container-fluid">

    <!-- Brand -->
    <a class="navbar-brand fw-bold text-primary d-flex align-items-center gap-2" href="/">
      <i class="fa fa-compass" aria-hidden="true"></i>
      <span>Airbnb Clone</span>
    </a>

    <!-- Toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar content -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Center Links -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link active fw-semibold" href="/">
            <i class="fa fa-home me-1"></i> Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/listings">
            <i class="fa fa-list me-1"></i> All Listings
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-semibold" href="/listings/new">
            <i class="fa fa-plus-circle me-1"></i> Add Listing
          </a>
        </li>
      </ul>

      <!-- Right-aligned Auth Buttons -->
      <div class="d-flex gap-2">
        <a href="/login" class="btn btn-outline-primary">
          <i class="fa fa-sign-in me-1"></i> Login
        </a>
        <a href="/signup" class="btn btn-primary">
          <i class="fa fa-user-plus me-1"></i> Sign Up
        </a>
      </div>
    </div>
  </div>
</nav>
